<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement" search:require="Azure">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_testing_index" type="Sitecore.ContentSearch.Azure.CloudSearchProviderIndex, Sitecore.ContentSearch.Azure">
            <configuration ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration">
              <fieldMap ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/fieldMap">
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="__is_running_tristate" cloudFieldName="is_running_____s" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                </fieldNames>
              </fieldMap>
              <documentOptions type="Sitecore.ContentSearch.Azure.CloudSearchDocumentBuilderOptions,Sitecore.ContentSearch.Azure">
                <indexAllFields>false</indexAllFields>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="datasourceitems_tidy">AlexVanWolferen.SitecorePatches.ContentTesting.ContentSearch.ComputedIndexFields.TestDataSources, AlexVanWolferen.SitecorePatches</field>
                </fields>
              </documentOptions>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
    <contentTesting>
      <testingSearch type="AlexVanWolferen.SitecorePatches.ContentTesting.TestingSearch, AlexVanWolferen.SitecorePatches" 
                     patch:instead="testingSearch[@type='Sitecore.ContentTesting.ContentSearch.TestingSearch, Sitecore.ContentTesting']" />
      <contentTestStore type="AlexVanWolferen.SitecorePatches.ContentTesting.SitecoreContentTestStore, AlexVanWolferen.SitecorePatches"
                        patch:instead="contentTestStore[@type='Sitecore.ContentTesting.Data.SitecoreContentTestStore, Sitecore.ContentTesting']"/>
    </contentTesting>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="AlexVanWolferen.SitecorePatches.ContentTesting.Pipelines.GetContentEditorWarnings.GetContentTestingWarnings, AlexVanWolferen.SitecorePatches"
                   patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.GetContentEditorWarnings.GetContentTestingWarnings, Sitecore.ContentTesting']"/>
      </getContentEditorWarnings>
    </pipelines>
    <processors>
      <uiDeleteItems>
        <processor type="AlexVanWolferen.SitecorePatches.ContentTesting.Pipelines.DeleteItems.DeleteTestDefinitionItems,AlexVanWolferen.SitecorePatches" method="CheckActiveTests" mode="on"
                   patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.DeleteItems.DeleteTestDefinitionItems,Sitecore.ContentTesting']"/>
      </uiDeleteItems>
    </processors>
  </sitecore>
</configuration>
